.bigtittle{
    font-size: 150%;
    color: green;
    text-transform: uppercase;
    text-align: center;
}

table{
    text-align: center;
    margin: 20px auto;
    width: 75%;
    border-collapse: collapse;
    border: 3px dashed rgb(145, 58, 89);
}
td{
    padding: 15px 0 15px 0;
}

.smalltittle{
    font-size: 125%;
    background-color: rgb(86, 64, 159);
    color: rgb(255, 251, 252);
    font-weight: 900;
    text-transform: uppercase;
}

.smalltittle:hover{
    background-color: rgb(64, 48, 127);
}

.day{
    font-weight: 900;
    font-size: 115%
}

.day:hover{
    color: rgb(242, 234, 247);
    background-color: rgb(70, 2, 122);
    transition: 0.5s;
}

.subject{
    font-size: 105%;
    font-weight: bold;
}

.lab{
    font-size: 115%;
    font-weight: 900;
    background-color: rgb(255, 239, 175);
}

.lunch{
    background-color: rgb(255, 239, 175);
    text-transform: uppercase;
    color: black;
}

.lunch:hover, .lab:hover{
    background-color: rgb(244, 219, 112);
}

.graysquare{
    background-color: rgb(219, 220, 221);
}

.graysquare:hover{
    background-color: rgb(148, 146, 150);
}